<% layout("/layouts/boilerplate") %>
<body>


</div>
    <div class="row row-cols-5">
    <% for(let listing of allListings){ %>
     
    <div class="card " style="width: 15rem;">
      <a href="/listing/<%= listing._id  %>" ><img src="<%= listing.image.url %>" class="card-img-top" style="height: 15rem;" ></a>
        <div class="card-body">
          <h5 class="card-title"><b><%= listing.title %></b></h5>
         
          <p class="card-text" >
            <a href="/listing/<%= listing._id  %>" style="text-decoration: none; color: black; font-weight: 400;"> &#8377;<%= listing.price%></a>
        </p>
         
        </div>
      </div>
    
      <% } %>
    </div>
     <ul>
    <!-- <% for(let listing of allListings){ %>
         <li><a href="/listing/<%= listing._id %>"><%= listing.title %> </a> </li>
        
    <% } %>  -->
</ul> 
</body>


